body {
  background-color: #111;    
  color: #f2f2f2; 
  line-height: 1.6;
  margin: 2rem;
}

h1 {
  font-family: "Bitcount Grid Double Ink", sans-serif;
  text-align: center;
  font-size: 2rem;
  color: #f9f9f9;  
}

img {
  display: block;
  max-width: 600px;         
  width: 100%;              
  margin: 0 auto;          
  border-radius: 8px;  
  box-shadow: 0 0 12px rgba(0,0,0,0.6)     
}

details {
  margin-top: 1rem;
  text-align: center;
  font-style: italic;
}

summary {
  cursor: pointer;
  color: #ccc;              
}

details[open] p {
  color: #eee;              
}
